@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  @apply font-serif;
}

/* .main-link {
  @apply bg-pink-500 px-2 hover:bg-pink-700 transition-colors ease-in-out;
} */

* {
  box-sizing: border-box;
}

/* .bg-code-image {
  @apply bg-code bg-purple-400 absolute w-full bg-cover bg-center h-full transition-opacity ease-in-out duration-500;
}

.bg-film-image {
  @apply bg-film absolute w-full bg-cover bg-center h-full transition-opacity ease-in-out duration-500;
} */

.toolbox {
  @apply rounded;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-900;
  border-radius: 10px;
}
