@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  @apply font-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-tr from-purple-700 to-pink-700;
  border-radius: 10px;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: #6b21a8 rgba(0, 0, 0, 0.3);
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.social-icon {
  @apply text-white hover:text-pink-500 transition;
}

.resume-link {
  @apply font-serif text-sm font-bold text-purple-600 hover:text-purple-700;
}
